[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "==4.21.0"
evaluate = "*"
datasets = "*"
torch = "*"

[dev-packages]
kaggle = "*"
gitpython = "*"

[requires]
python_version = "3.7"
