[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "==4.21.0"
evaluate = "*"
datasets = "*"
torch = "*"
pillow = "*"
nltk = "*"
tensorboardx = "*"
rouge-score = "*"
fugashi = "*"
unidic-lite = "*"

[dev-packages]
kaggle = "*"
gitpython = "*"

[requires]
python_version = "3.7"
